<div class="row justify-content-between">
  <div class="col-6">
    <div class="card card-chart">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fa-regular fa-face-grin-hearts text-success"></i> Julia
        </h3>
        <span>23/05/2021</span>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card card-chart">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fa-regular fa-face-frown text-danger-states"></i> 763,215
        </h3>
      </div>
    </div>
  </div>
</div>
