<!--INICIO DO CARRINHO-->
<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
</div>

<div class="card-body">
  <div class="table-responsive">
    <table class="table" id="">
      <tbody>
        <tr>
          <th>Cerveja:</th>

          <td class="text-right">R$ 6,00</td>
        </tr>
        <tr>
          <th>Pork Burger</th>

          <td class="text-right">R$ 22,00</td>
        </tr>
        <tr>
          <th>Frete:</th>

          <td class="text-right">R$ 8,00</td>
        </tr>
        <tr>
          <th>Total:</th>

          <td class="text-right">R$ 80,90</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="alingBtn">
      <button type="button" class="btn btn-danger alingBtn">
        <i class="fa fa-trash"></i> Limpar
      </button>

      <button href="order.html" class="btn btn-success alingBtn">
        <i class="fa fa-credit-card"></i> Fechar Pedido
      </button>
    </div>
  </div>
</div>
<!-- FIM DO CARRINHO -->
