<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Details Restaurant</h5>
              <h2 class="card-title">Bread &amp; Brakery</h2>
            </div>
            <!-- <div class="box-body">
              <div class="col-sm-3 ">
                <img class="box-img-detail" src="assets/img/restaurants/breadbakery.png" />
              </div>

              <dl class=" ">
                <dt>Categoria</dt>
                <dd>Padaria</dd>
                <dt>Quem somos</dt>
                <dd>A Bread &amp; Brakery tem 40 anos de mercado. Fazemos os melhores doces e pães. Compre e confira.</dd>
                <dt>Horários</dt>
                <dd>Funciona de segunda à sexta, de 8h às 23h</dd>
              </dl>
            </div> -->
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <img
                class="box-img-detail"
                src="assets/img/restaurants/breadbakery.png"
              />
            </div>
            <dl class="col-sm-9 col-xs-12">
              <dt>Categoria</dt>
              <dd>Padaria</dd>
              <dt>Quem somos</dt>
              <dd>
                A Bread &amp; Brakery tem 40 anos de mercado. Fazemos os
                melhores doces e pães. Compre e confira.
              </dd>
              <dt>Horários</dt>
              <dd>Funciona de segunda à sexta, de 8h às 23h</dd>
            </dl>
          </div>
          <div class="col-sm-6">
            <div
              class="btn-group btn-group-toggle float-right"
              data-toggle="buttons"
            ></div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <button class="btn btn-danger btn-simple" style="width: 140px">
            Menu
          </button>
          <button class="btn btn-danger btn-simple" style="width: 140px">
            Avaliations
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total Shipments</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Daily Sales</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-delivery-fast text-info"> </i> 3,500€
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Completed Tasks</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-send text-success"> </i> 12,100K
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Completed Tasks</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-send text-success"> </i> 12,100K
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>
