<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Details Restaurant</h5>
              <h2 class="card-title">Bread &amp; Brakery</h2>
            </div>
            <!-- <div class="box-body">
              <div class="col-sm-3 ">
                <img class="box-img-detail" src="assets/img/restaurants/breadbakery.png" />
              </div>

              <dl class=" ">
                <dt>Categoria</dt>
                <dd>Padaria</dd>
                <dt>Quem somos</dt>
                <dd>A Bread &amp; Brakery tem 40 anos de mercado. Fazemos os melhores doces e pães. Compre e confira.</dd>
                <dt>Horários</dt>
                <dd>Funciona de segunda à sexta, de 8h às 23h</dd>
              </dl>
            </div> -->
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <img
                class="box-img-detail"
                src="assets/img/restaurants/breadbakery.png"
              />
            </div>
            <dl class="col-sm-9 col-xs-12">
              <dt>Categoria</dt>
              <dd>Padaria</dd>
              <dt>Quem somos</dt>
              <dd>
                A Bread &amp; Brakery tem 40 anos de mercado. Fazemos os
                melhores doces e pães. Compre e confira.
              </dd>
              <dt>Horários</dt>
              <dd>Funciona de segunda à sexta, de 8h às 23h</dd>
            </dl>
          </div>

          <div class="row justify-content-center">
            <button class="btn btn-danger btn-simple" style="width: 140px">
              Menu
            </button>
            <button class="btn btn-danger btn-simple" style="width: 140px">
              Avaliations
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <app-menu></app-menu>
</div>
