<div class="card-header">
  <h5 class="card-category">Padaria</h5>

  <table class="table tablesorter" id="">
    <thead class="text-primary">
      <tr>
        <th *ngFor="let colun of coluns" class="text-center">{{ colun }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 150px">
          <span class="">
            <img class="widthImage" src="assets/img/foods/cupcake.png" />
          </span>
          &nbsp;
          <span class="">Cup Cake</span>
        </td>
        <td>Cup Cake recheado de Doce de Leite</td>
        <td>R$ 10,00</td>
        <td class="text-center">
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </td>
      </tr>
      <tr>
        <td style="width: 150px">
          <span class="">
            <img class="widthImage" src="assets/img/foods/cupcake.png" />
          </span>
          &nbsp;
          <span class="">Cup Cake</span>
        </td>
        <td>Cup Cake recheado de Doce de Leite</td>
        <td>R$ 10,00</td>
        <td class="text-center">
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
