<div class="card-header">
  <table class="table tablesorter" id="">
    <thead class="text-primary">
      <tr>
        <th *ngFor="let colun of coluns" class="text-center">{{ colun }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 40%">
          <span class="">
            <img class="widthImage" src="{{ menuItem.imagePath }}" />
            &nbsp;
            <span class="">{{ menuItem.name }}</span>
          </span>
        </td>
        <td>{{ menuItem.description }}</td>
        <td>{{ menuItem.price | currency: "BRL":true }}</td>
        <td class="text-center">
          <a (click)="emitAddEvent()" class=""
            ><i class="fa fa-plus-circle"></i> Adicionar</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
